$form-icon-size: 25px;

.peco-icon {
  display: inline-block;
  background-repeat: no-repeat;
}

.peco-icon-account {
  @include size($form-icon-size);
  background-size: $form-icon-size $form-icon-size;
  background-image: url(../../assets/account.png);
}

.peco-icon-passwd {
  @include size($form-icon-size);
  background-size: $form-icon-size $form-icon-size;
  background-image: url(../../assets/passwd.png);
}

.peco-icon-location {
  @include size($form-icon-size);
  background-size: $form-icon-size $form-icon-size;
  background-image: url(../../assets/location.png);
}

.peco-icon-mobile {
  @include size($form-icon-size);
  background-size: $form-icon-size $form-icon-size;
  background-image: url(../../assets/mobile.png);
}

.peco-icon-key {
  @include size($form-icon-size);
  background-size: $form-icon-size $form-icon-size;
  background-image: url(../../assets/key.png);
}

.peco-icon-user_cate {
  @include size($form-icon-size);
  background-size: $form-icon-size $form-icon-size;
  background-image: url(../../assets/user_cate.png);
}

.peco-icon-company {
  @include size($form-icon-size);
  background-size: $form-icon-size $form-icon-size;
  background-image: url(../../assets/company.png);
}

.peco-icon-searchx {
  @include size(16px);
  background-size: 16px 16px;
  background-image: url(../../assets/icon_search@2x.png);
}

.peco-icon-clear {
  @include size(16px);
  background-size: 16px 16px;
  background-image: url(../../assets/icon_delete@2x.png);
}

.peco-icon-checked {
  @include size(24px);
  background-size: 24px 24px;
  background-image: url(../../assets/checked@2x.png);
}

.peco-icon-uncheck {
  @include size(24px);
  background-size: 24px 24px;
  background-image: url(../../assets/uncheck@2x.png);
}

.peco-icon-repaire {
  @include size(28px, 28px);
  background: url('../../assets/css_sprites.png') no-repeat;
  background-position: 0 -28px;
}
.peco-icon-consult {
  @include size(28px, 28px);
  background: url('../../assets/css_sprites.png') no-repeat;
  background-position: -28px -28px;
}
.peco-icon-complain {
  @include size(28px, 28px);
  background: url('../../assets/css_sprites.png') no-repeat;
  background-position: -56px 0;
}
.peco-icon-suggest {
  @include size(28px, 28px);
  background: url('../../assets/css_sprites.png') no-repeat;
  background-position: -56px -28px;
}
.peco-icon-complain_old {
  @include size(28px, 28px);
  background: url('../../assets/css_sprites.png') no-repeat;
  background-position: 0 0;
}
.peco-icon-warn {
  @include size(28px, 28px);
  background: url('../../assets/css_sprites.png') no-repeat;
  background-position: 0 -56px;
}
.peco-icon-warn_circle {
  @include size(28px, 28px);
  background: url('../../assets/css_sprites.png') no-repeat;
  background-position: -28px 0;
}

.peco-icon-microphone {
  @include size(50px, 50px);
  background-size: 50px 50px;
  background-image: url(../../assets/microphone.png);
}
