@import 'var/color';
@import 'var/size';
@import 'var/font';
@import 'mixin/size';
@import 'mixin/arrow';
@import 'functions';
@import 'base';
@import 'layout';
@import 'icon';
@import 'loading';

.peco-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
}

.peco-mask_transparent {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.peco-toast {
  position: fixed;
  z-index: 5000;
  width: 7.6em;
  min-height: 7.6em;
  top: 180px;
  left: 50%;
  margin-left: -3.8em;
  background: rgba(17,17,17,0.7);
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 16px;
}
.peco-icon_toast {
  margin: 22px 0 0;
  display: block;
  &.peco-icon-success-no-circle{
    &:before {
        color: #FFFFFF;
        font-size: 55px;
    }
  }
  &.peco-loading{
    margin:30px 0 0;
    width:38px;
    height:38px;
    vertical-align: baseline;
  }
}

.peco-toast__content {
  margin: 0 0 15px;
}
