$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// $color-primary: #409EFF;
// $color-primary: #1551FF;
$color-primary: #0769ad;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

$color-bg-light: #F2F2F2;
$color-block-bg: #F6F6F6;
$color-pannel-bg: #FFF;
$color-widget-bg: #E0EDFA;
$color-page-bg: #EDEDEF;

$color-border: #F6F6F6; //#DCDFE6;
$color-border2:#E4E7ED;
$color-border3:#EBEEF5;
$color-border4:#F2F6FC;

$color-line: #E5E5E5;
$color-line-dark: #BCBAB6;

$color-text: #303133;
$color-text2: #606266;
$color-text3: #909399;
$color-text4: #C0C4CC;

$color-link: #586C94;
