$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-size-h1: 2rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.6rem;
$font-size-primary: 1.4rem;
$font-size-secondary: 1.3rem;
$font-size-aux: 1.2rem;
$font-size-nan: 1rem;
